.boody {
	/* background: linear-gradient(to right, red, blue) */
	/* background: linear-gradient(45deg,red, black) */
	background-image: url('../assets/images/RoseOnYellow.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	/* background: radial-gradient(red, black, blue, green, yellow, orange,purple); */
	/* text-decoration: none; */
	/* background: radial-gradient(
	   red, black, blue,
	   rgb(163, 248, 244),
	   green, yellow, orange,purple);
	background-size: 500% 500%;
	position: relative;
	animation: change 12s ease-in-out infinite; */

}

@keyframes change {
	0% {background-position: 0 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
  }

  @keyframes mymove {
	from {left: 0px;}
	to {left: 300px;}
  }

a {
	text-decoration: none;
	color: pink;
}

a:active {
	color: pink;
}

section {
	padding: 3em 2em;
}

img {
	display: block;
	max-width:100%;
	/* animation-timing-function: linear;
	position: relative;
	animation: mymove 5s infinite;
	overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform; */
}

.section-title {
	margin-bottom: 0.25em;
}

.title-intro {
	font-weight: var(--fw-reg);
}

.title-intro strong {
	display: block;
}

.subtitle {
	margin: 0;
}

.subtitle-intro,
.subtitle-about {
	background: pink;
	font-family: var(--ff-header);
	margin-bottom: 1em;
	padding: 0.25em 1em;
}

.subtitle-work {
	color: var(--color-accent);
	font-weight: var(--fw-bold);
	margin-bottom: 2em;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height:55px;
	background-color: rgb(95, 134, 46);
	color: pink;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:999;
	font-weight: bold;
}

.nav-link {
	color: pink;
	text-decoration: none;
	font-weight: bold;
}

.dev {
	margin-left: 30px;
}

.directory {
	width: 200px;
	position: relative;
	right:0;
	display: flex;
	justify-content: space-evenly;
}

.my-pic {
	box-shadow: 0 0 5px black;
}

@media (min-width: 970px) {
	.intro {
		display: grid;
		text-align: center;
		width: min-content;
		margin: 55px auto 0;
		grid-column-gap: 1em;
		grid-template-areas:
			"img title"
			"img subtitle";
		grid-template-columns: min-content max-content;
	}

	.my-pic {
		grid-area: img;
		min-width: 300px;
		position: relative;
		z-index: 2;
		margin: 0;
	}

	.subtitle-intro {
		font-family: var(--ff-header);
		align-self: start;
		grid-column: -1 / 1;
		grid-row: 2;
		text-align: right;
		position: relative;
		left: -1.5em;
		width: calc(100% + 1.5em);
	}
}

.languages {
	color:purple;
	height: 50px;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 55px;
}

.icons {
	width:50px;
	height:50px;
	border-radius: 10px;
	padding: 5px;
}

.icons:hover {
	box-shadow: 0 0 3px red, 0 0 5px blue;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
	gap: 15px;
	justify-content: center
}

.work {
	display: block;
	width:300px;
	height:450px;
	border: 3px solid rgb(95, 134, 46);
	border-radius: 20px;
	overflow:hidden;
	background-color:rgb(95, 134, 46);
	color:pink;
}

.work:hover {
	cursor: pointer;
	box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

h4 {
	padding: 0 10px;
	text-align: center;
}

p {
	padding: 0 10px;
}

.gitlink {
	color:cornflowerblue;
	padding: 0 10px;
}

.gitlink:hover {
	text-decoration: underline;
}