.boody {
	background-image: url('../assets/images/RoseOnYellow.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	font-family: 'Noto Sans'
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: pink;
}

a:active {
	color: pink;
}

section {
	padding: 3em 2em;
}

img {
	display: block;
	max-width:100%;
}

#top {
	height: 55px;
	position: absolute;
	top: 0;
	left: 0;
}

.section-title {
	margin-bottom: 0.25em;
}

.title-intro strong {
	display: block;
}

.subtitle {
	margin: 0;
}

.subtitle-intro {
	background: pink;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 0.25em 1em;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height:55px;
	background-color: rgb(95, 134, 46);
	color: pink;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:999;
	font-weight: bold;
}

.nav-link {
	color: pink;
	text-decoration: none;
	font-weight: bold;
}

.dev {
	margin-left: 30px;
}

.directory {
	width: 200px;
	position: relative;
	right:0;
	display: flex;
	justify-content: space-evenly;
}

.my-pic {
	box-shadow: 0 0 5px black;
}

@media (min-width: 970px) {
	.intro {
		display: grid;
		text-align: center;
		width: min-content;
		margin: 55px auto 0;
		grid-column-gap: 1em;
		grid-template-areas:
			"img title title title title title title"
			"img subtitle subtitle subtitle subtitle subtitle subtitle";
		grid-template-columns: min-content max-content;
	}

	.my-pic {
		grid-area: img;
		min-width: 300px;
		position: relative;
		z-index: 2;
		margin: 0;
	}

	.subtitle-intro {
		align-self: start;
		grid-column: -1 / 1;
		grid-row: 2;
		text-align: right;
		position: relative;
		left: -1.5em;
		width: calc(100% + 1.5em);
	}
}

.languages {
	color:purple;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	margin-top: 55px;
	margin-bottom: 55px
}

.icons {
	width:50px;
	height:50px;
	border-radius: 10px;
	padding: 5px;
}

.icons:hover {
	box-shadow: 0 0 3px red, 0 0 5px blue;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
	gap: 15px;
	justify-content: center
}

.work {
	display: block;
	width: 300px;
	height: 500px;
	border: 3px solid rgb(95, 134, 46);
	border-radius: 20px;
	overflow:hidden;
	background-color:rgb(95, 134, 46);
	color:pink;
}

.work:active {
	box-shadow: none;
}

.work:hover {
	cursor: pointer;
	box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

h4 {
	padding: 0 10px;
	text-align: center;
}

p {
	padding: 0 10px;
}

.gitlink {
	color:rgb(158, 189, 248);
	padding: 0 10px;
}

.gitlink:hover {
	text-decoration: underline;
}

.footer {
	text-align: center;
	padding: .5em 0;
	background-color: pink;
	color: rgb(86, 144, 252);
	border-top: 4px solid white;
	font-weight: bold;
}

.footer a {
	color: rgb(86, 144, 252);
	text-decoration: none;
}

.footer-link {
	font-weight: bold;
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: .5em 0 0;
	padding: 0;
}

.social-item {
	margin: 0 0.5em;
}

.social-link {
	padding: 0.5em;
}

.contact {
	display: flex;
	gap: 20px;
	justify-content: center;
}